.aside{
    ul,li{
        list-style: none;
        cursor: pointer;
        text-align: center;
        }
}
.section{
    position: fixed;
    left: 200px;
    text-align: center;
    width:  calc(100vw - 200px);
    height:  calc(100vh - 100px);
    line-height:  calc(100vh - 100px);
}   
